import(methods)
import(ROC)
import(DESeq)
import(edgeR)
import(samr)
importFrom(baySeq, getPriors.BB)
importFrom(baySeq, getLikelihoods.BB)
importFrom(baySeq, getPriors.NB)
importFrom(baySeq, getLikelihoods.NB)
importFrom(baySeq, topCounts)

exportClasses(
    "TCC" 
)

export(
  show.TCC,
  names,
  length,
  "[",
  TCC,
  calcAUCValue,
  calcNormFactors,
  do_TbT,
  estimateDE,
  exactTestafterTbT,
  filterLowCountGenes,
  simulateReadCounts,
  getNormalizedData,
  getResult,
  MAplot,
  NBsample,
  plotFCPseudocolor,
  plot.TCC,
  WAD,
  ROKU,
  clusterSample
)

